:root {
    --background-color: #111111;
    --text-color: #dddddd;
    --main-color: #d3ac5f;
    --text-font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --display-font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --mono-font-family: 'SF Mono', monospace;
    --text-letter-spacing: -0.02em;
    --header-word-spacing: 0.11em;
    --text-font-size: 1.25rem;

    --text-shadow-color: rgb(224, 0, 0);
    --border-color: rgba(61, 167, 248, 0.82);
    --text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #fff,
        0 0 6px var(--text-shadow-color), 0 0 10px var(--text-shadow-color),
        0 0 10px var(--text-shadow-color), 0 0 10px var(--text-shadow-color),
        0 0 10px var(--text-shadow-color), 0 0 20px var(--text-shadow-color),
        0 0 30px var(--text-shadow-color), 0 0 40px var(--text-shadow-color),
        0 0 55px var(--text-shadow-color), 0 0 75px var(--text-shadow-color);
    --border-shadow: inset 0 0 22px var(--border-color), 0 0 10px var(--border-color), 0 0 30px var(--border-color);
    /* , 0 0 25px var(--border-color); */
}

body {
    font-family: var(--text-font-family);
    background: var(--background-color);
    color: var(--text-color);
    letter-spacing: var(--text-letter-spacing);
    font-size: var(--text-font-size);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 4vw;
}

h1 {
    font-family: var(--display-font-family);
    font-size: 19vw;
    font-weight: 300;
    word-spacing: var(--header-word-spacing);
    line-height: 1.1;
    padding-bottom: 0;
}

@media (min-width: 500px) {
    h1 {
        font-size: 6rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 6.5rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 7rem;
    }
}

.container>a {
    display: block;
    margin: 20px 0 0;
    font-family: var(--mono-font-family);
    color: var(--main-color);
    text-decoration: none;
}






nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

nav>div {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 5.5px 20px;
    transform: rotate(-8deg);
    box-shadow: var(--border-shadow);
}

nav>div>p {
    transform: rotate(8deg);
    color: #ffffff;
    /* opacity: 0.33; */
}

nav>div>p>span {
    font-size: 3.2rem;
    font-weight: 300;
    font-family: var(--display-font-family);
    text-shadow: var(--text-shadow);
}