:root {
    --background-color: #111111;
    --text-color: #dddddd;
    --main-color: #d3ac5f;
    --text-font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --display-font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --mono-font-family: 'SF Mono', monospace;
    --text-letter-spacing: -0.02em;
    --header-word-spacing: 0.11em;
    --text-font-size: 1.25rem;

    --neon-rotate: 10deg;
    --border-radius: 18px;

    --text-shadow-color: rgba(224, 0, 0, 1);
    --text-shadow-color-faded: rgba(224, 0, 0, 0.9);
    --border-color: rgba(61, 167, 248, 0.8);
    --border-color-faded: rgba(61, 167, 248, 0.8);
    --text-shadow: 0 0 1px rgba(255, 255, 255, 0.38), 0 0 5px #fff, 0 0 10px #fff,
        0 0 6px var(--text-shadow-color), 0 0 10px var(--text-shadow-color),
        0 0 10px var(--text-shadow-color), 0 0 10px var(--text-shadow-color),
        0 0 10px var(--text-shadow-color), 0 0 20px var(--text-shadow-color),
        0 0 30px var(--text-shadow-color), 0 0 40px var(--text-shadow-color),
        0 0 55px var(--text-shadow-color), 0 0 80px var(--text-shadow-color);
    --text-shadow-faded: 0 0 1px rgba(255, 255, 255, 0.38), 0 0 5px #fff, 0 0 10px #fff,
        0 0 3px var(--text-shadow-color-faded), 0 0 8px var(--text-shadow-color-faded),
        0 0 10px var(--text-shadow-color-faded), 0 0 10px var(--text-shadow-color-faded),
        0 0 10px var(--text-shadow-color-faded), 0 0 20px var(--text-shadow-color-faded),
        0 0 30px var(--text-shadow-color-faded), 0 0 40px var(--text-shadow-color-faded),
        0 0 55px var(--text-shadow-color-faded), 0 0 80px var(--text-shadow-color);
    --border-shadow: inset 0 0 20px var(--border-color), 0 0 5px var(--border-color), 0 0 22px var(--border-color);
    --border-shadow-faded: inset 0 0 15px var(--border-color-faded), 0 0 3px var(--border-color-faded), 0 0 15px var(--border-color-faded);
}

body {
    font-family: var(--text-font-family);
    background: var(--background-color);
    color: var(--text-color);
    letter-spacing: var(--text-letter-spacing);
    font-size: var(--text-font-size);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 4vw;
}

h1 {
    font-family: var(--display-font-family);
    font-size: 19vw;
    font-weight: 300;
    word-spacing: var(--header-word-spacing);
    line-height: 1.1;
    padding-bottom: 0;
}

@media (min-width: 500px) {
    h1 {
        font-size: 6rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 6.5rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 7rem;
    }
}

.container>a {
    display: block;
    margin: 20px 0 0;
    font-family: var(--mono-font-family);
    color: var(--main-color);
    text-decoration: none;
}






nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

nav>div {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: var(--border-radius);
    padding: 4px 18px;
    transform: rotate(calc(-1 * var(--neon-rotate)));
    box-shadow: var(--border-shadow);

    animation: flicker-border 18s linear infinite;
}

nav>div>p {
    transform: rotate(var(--neon-rotate));
    color: #ffffff;
    /* opacity: 0.33; */
}

nav>div>p>span {
    font-size: 3.2rem;
    font-weight: 300;
    font-family: var(--display-font-family);
    text-shadow: var(--text-shadow);

    animation: flicker-text 9s ease infinite;
}


/* @keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        box-shadow: var(--border-shadow);
        border: 2px solid rgba(255, 255, 255, 1);
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        box-shadow: none;
        border: 2px solid rgba(255, 255, 255, 0.33);
    }
} */

@keyframes flicker-border {

    0%,
    25%,
    50%,
    75%,
    100% {
        box-shadow: var(--border-shadow);
        border: 2px solid rgba(255, 255, 255, 1);
    }

    10%, 39%, 40% {
        box-shadow: var(--border-shadow);
        border: 2px solid rgba(255, 255, 255, 1);
    }
    10.4%, 39.3%, 40.3% {
        box-shadow: none;
        border: 2px solid rgba(255, 255, 255, 0.33);
    }
    10.8%, 39.6%, 40.6% {
        box-shadow: var(--border-shadow);
        border: 2px solid rgba(255, 255, 255, 1);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        box-shadow: var(--border-shadow-faded);
        border: 2px solid rgba(255, 255, 255, 0.75);
    }
}

@keyframes flicker-text {

    0%,
    25%,
    50%,
    75%,
    100% {
        text-shadow: var(--text-shadow);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        text-shadow: var(--text-shadow-faded);
    }
}