body {
    font-family: 'Inter', sans-serif;
    background: black;
    color: white;

    text-align: center;
}

h1 {
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: -0.05em;
    word-spacing: 0.08em;
}